capstone
certifi
chardet
Click
Cython
Flask
Flask-SocketIO
gevent
greenlet
hexdump
idna
ipaddr
itsdangerous
Jinja2
MarkupSafe
Pillow
pydot
pyelftools
pyparsing
python-engineio
python-socketio
requests
six
socketIO-client
urllib3
websocket-client
Werkzeug
pytest
setuptools